<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/index.css">
    <title>Document</title>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <script src="https://kit.fontawesome.com/0b68ed503d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">

</head>

<body>


    <div class="main">
        <div class="background-cover">
            <header>
                <div class="cvr">
                    <div class="logo">
                        <img src="pictures/logo-akhigbe.png" alt="" srcset="">
                        <p>Akinghebe Foods</p>
                    </div>
                    <div class="nav">
                        <a href="/">Home</a>
                        <a href="/about">About Us</a>
                        <a href="/explore-foods">Explore Foods</a>
                        <a href="/reviews">Reviews</a>
                        <a href="/faq">FAQ</a>
                    </div>
                </div>

            </header>
            <div class="cvr">
                <div class="txt-cvr">
                    <div class="txt">
                        <h1>
                            <p>Akhigbe</p> Foods Canada
                        </h1>
                        <p>Your Source for Authentic African & Caribbean Groceries. We’re more than a cultural grocery
                            store we’re your gateway to authentic African and Caribbean flavors in Canada</p>
                        <button class="button-85">Learn More </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="videop">
            <div class="left">
                <div class="first-box"></div>
                <div class="second-box"></div>
                <video loop controls autoplay>
                    <source src="pictures/akhigbe-food.mp4" type="video/mp4">
                </video>
            </div>
            <div class="right">
                <h2>Get good food from home</h2>
                <p> From hard-to-find yam tubers and egusi seeds to premium palm oil and ready-to-cook frozen fish, our
                    hand-selected products bring the taste of home to your kitchen. With expert staff ready to guide you
                    and competitive prices that keep you coming back, we turn every visit into a delightful discovery.
                    Swing by today open  </p>
            </div>

    </div>
</body>

</html>