<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/index.css">
    <title>AkhigbeFoods-Home</title>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <script src="https://kit.fontawesome.com/0b68ed503d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">

</head>

<body>


    <div class="topmobile">

        <img src="/pictures/logo-akhigbe.png" alt="SkillversityAfrica Official Logo" srcset="">

        <button class="bars" onclick="slide()"><i class="fa-solid fa-bars"></i></button>

    </div>

    <div id="slidein-mobile">
        <div class="menu">
            <div class="menu-header">
                <a href="/"><img src="/pictures/logo-akhigbe.png" alt="Coursera Logo" class="logo" /></a>
                <button class="close-btn" onclick="slideOut()">&times;</button>
            </div>
            <ul class="menu-list">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/about">
                    <li>About Us</li>
                </a>
                <a href="/res">
                    <li>Restaurant</li>
                </a>
                <a href="/gallery">
                    <li>Gallery</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
                <hr />
                <hr />
            </ul>


            <a href="/contact">
                <div class="menu-buttons">
                    <button class="join-btn">Apply now</button>
                </div>
            </a>
        </div>
    </div>



    <div class="mainres">
        <div class="background-cover">
            <header>
                <div class="cvr">
                    <div class="logo">
                        <img src="pictures/logo-akhigbe.png" alt="" srcset="">
                        <p>Akinghebe Restaurant</p>
                    </div>
                    <div class="nav">
                        <a href="/">Home</a>
                        <a href="/about">About Us</a>
                        <a href="/explore-foods">Explore Foods</a>
                        <a href="/gallery">Gallery</a>
                        <a href=" /contact">Contact</a>
                    </div>
                </div>

            </header>
            <div class="cvr">
                <div class="txt-cvr">
                    <div class="txt">
                        <h1>
                            <p>Akhigbe Restaurant:</p> Savor the Soul of Nigerian Cuisine
                        </h1>
                        <p class="p">Authentic flavors crafted by Chef Rita, 25+ years of culinary mastery.</p>
                        <a href="/about"><button class="button-85">Learn More </button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="sample">
        <div class="cvr">
            <h2>Our Flavors at a Glance</h2>
            <div class="preview">
                <section>
                    <h3>Appetizers</h3>
                    <div class="itm">
                        <img src="/pictures/suya.png" alt="">
                        <div class="txt">
                            <div class="name">Suya Skewers</div>
                            <div class="price">$8</div>
                        </div>
                    </div>
                </section>
                <section>
                    <h3>Mains</h3>
                    <div class="itm">
                        <img src="/pictures/fufu.png" alt="">
                        <div class="txt">
                            <div class="name">Egusi Soup with Fufu</div>
                            <div class="price">$15</div>
                        </div>
                    </div>

                </section>

                <section>
                    <h3>Specialties</h3>
                    <div class="itm">
                        <img src="pictures/meat.png" alt="">
                        <div class="txt">
                            <div class="name">Frozen meat & seafood</div>
                            <div class="price">$34</div>
                        </div>
                    </div>
                </section>


            </div>
        </div>

    </div>

    <div class="led">
        <div class="cvr">

            <div class="cvv">
                <h2>Insights</h2>
                <p>Led by Rita, our celebrated Nigerian chef with 25+ years of culinary mastery, Akhigbe Restaurant
                    transports
                    you to
                    the heart of Nigeria with every bite.
                    Indulge in house specials like aromatic jollof rice, tender pepper soup, or crispy plantain chips, all
                    prepared with
                    fresh,
                    imported ingredients. Our cozy space buzzes with lively Afrobeat tunes and the aroma of home-cooked
                    meals—perfect
                    for date
                    nights or family gatherings. Join us [days/hours] at [address] and reserve your table now for an
                    experience
                    that
                    lingers.
                </p>
                <a href="/contact"><button class="btn2">Reserve Now</button></a>
            </div>

        </div>

    </div>







    <div class="grlmn">
        <h2>View our dishes</h2>
        <div class="gallery-cvr">
            <div class="gallery">
                <img src="https://picsum.photos/id/1011/280/180" alt="">
                <img src="https://picsum.photos/id/1012/280/180" alt="">
                <img src="https://picsum.photos/id/1013/280/180" alt="">
                <img src="https://picsum.photos/id/1014/280/180" alt="">
                <img src="https://picsum.photos/id/1015/280/180" alt="">
                <img src="https://picsum.photos/id/1016/280/180" alt="">
            </div>
        </div>
    </div>



    <footer>

        <div class="top">
            <div class="left">
                <div class="p1">Start Your Journey Today!</div>
                <button class="button1">opportunities</button>
                <button class="button2">Browse Courses</button>
            </div>
            <div class="right">
                <div class="cvr">
                    <div class="p3">6.3K</div>
                    <div class="p4">Online courses</div>
                </div>
                <div class="cvr">
                    <div class="p3">26K</div>
                    <div class="p4">Certified instructors</div>
                </div>
                <div class="cvr">
                    <div class="p3">99.9%</div>
                    <div class="p4">Success Rate</div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="logo">
                <img src="/pictures/logo-akhigbe.png" alt="SkillversityAfrica Official Logo">
                <div class="p1">Akhigbe African Food Market Inc.</div>

                <div class="socials">
                    <div class="left2">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="left2">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <div class="left2">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="left2">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>
            <div class="cvr">
                <div class="cat">
                    <div class="top2">Quick Link</div>
                    <div class="p5">about</div>
                    <div class="p5"><a href="/terms">Terms and Condition</a></div>
                    <div class="p5"><a href="/contact">Contact us</a></div>
                    <div class="p5"><a href="/privacy">Privacy</a></div>
                </div>
                <div class="cat">
                    <div class="top2">Grocery</div>
                    <div class="p5"><a
                            href="https://www.google.com/maps?q=6921+Steeles+Avenue+West,+Unit+12+Etobicoke,+Ontario+M9W+6T5">236
                            Sherbourne Street, Unit 2 (Down Town Toronto</a></div>
                    <div class="p5"><a href="tel:+416-798-800">Tel: +416-798-800</a></div>
                </div>
                <div class="cat">
                    <div class="top2">Catering</div>
                    <div class="p5"><a href="tel:+647-780-1080">Tel: +647-780-1080</a></div>
                </div>

            </div>

        </div>
        <div class="p6">© 2025 -Akhigbe. All rights reserved</div>
    </footer>

</body>

<script>

    contactForm.addEventListener('submit', async e => {
        e.preventDefault();
        console.log('submitted')

        try {
            document.getElementById('loading').style.display = 'flex';

            const image = document.getElementById('load-img');
            let expanded = false;
            const interval = 500; // Time interval in milliseconds

            const intervalId = setInterval(() => {
                if (expanded) {
                    image.classList.remove('expanded');
                } else {
                    image.classList.add('expanded');
                }
                expanded = !expanded;
            }, interval);



            const response = await fetch('/contact', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    Firstname: document.getElementById('Firstname').value,
                    Lastname: document.getElementById('Lastname').value,
                    email: document.getElementById('email').value,
                    message: document.getElementById('message').value,

                }),
            });

            if (response.ok) {
                alert("Form Submitted");

                clearInterval(intervalId);
                document.getElementById('loading').style.display = 'none';

            } else {
                alert("Error submitting form!");
            }
        } catch (error) {
            alert("Error submitting form!");
            console.error(error);
        }

    });


    function slide() {
        const el = document.getElementById('slidein-mobile');
        el.style.left = '0';
    }
    function slideOut() {
        const el = document.getElementById('slidein-mobile');
        el.style.left = '-100%';
    }
    function goToForm() {
        slideOut()
        document.getElementById('contactForm-ct').scrollIntoView({ behavior: 'smooth' });
    }
</script>

</html>